{{ add_asset("streams.css", "field_type.slider::css/bootstrap-slider.css") }}
{{ add_asset("streams.js", "field_type.slider::js/bootstrap-slider.min.js") }}
{{ add_asset("streams.js", "field_type.slider::js/input.js") }}

<label>
    {{ minLabel }}: {{ min }}
</label>

<label class="pull-right">
    {{ maxLabel }}: {{ max }}
</label>

<input
        type="text"
        name="{{ name }}"
        class="{{ class }} slider"
        data-slider-min="{{ min }}"
        data-slider-max="{{ max }}"
        data-slider-step="{{ step }}"
        data-slider-value="{{ sliderValue }}"
        >

<label>
    {{ trans("misc.value") }}: <span class="value">{{ value }}</span>
</label>