{{ asset_add("styles.css", "anomaly.field_type.slider::scss/slider.scss") }}
{#{{ asset_add("scripts.js", "anomaly.field_type.slider::js/segments.js") }}#}
{{ asset_add("scripts.js", "anomaly.field_type.slider::js/input.js") }}

<label class="value-label">
    {{ trans("anomaly.field_type.slider::input.value") }}:
    <span class="value">{{ field_type.value ?: field_type.config.min }}</span>
    {{ field_type.config.unit }}
</label>

<input
        type="range"
        name="{{ field_type.input_name }}"
        value="{{ field_type.value ?: field_type.config.min }}"
        min="{{ field_type.config.min }}"
        max="{{ field_type.config.max }}"
        step="{{ field_type.config.step }}"
        {{ html_attributes(field_type.attributes) }}>
