{{ add_asset("streams.css", "anomaly.field_type.slider::css/bootstrap-slider.css") }}
{{ add_asset("streams.js", "anomaly.field_type.slider::js/bootstrap-slider.min.js") }}
{{ add_asset("streams.js", "anomaly.field_type.slider::js/input.js") }}

<label>
    {{ field_type.config.min_label }}: {{ field_type.config.min }}
</label>

<label class="pull-right">
    {{ field_type.config.max_label }}: {{ field_type.config.max }}
</label>

<input
        type="text"
        class="slider"
        name="{{ field_type.getFieldName() }}"
        data-slider-min="{{ field_type.config.min }}"
        data-slider-max="{{ field_type.config.max }}"
        data-slider-step="{{ field_type.config.step }}"
        data-slider-value="{{ field_type.config.slider_value }}"
        >

<label>
    {{ trans("misc.value") }}: <span class="value">{{ field_type.value }}</span>
</label>