{{ asset_add("styles.css", "anomaly.field_type.slider::css/bootstrap-slider.css") }}
{{ asset_add("scripts.js", "anomaly.field_type.slider::js/bootstrap-slider.min.js") }}
{{ asset_add("scripts.js", "anomaly.field_type.slider::js/input.js") }}

<label>
    {{ trans(field_type.config.min_label ?: "anomaly.field_type.slider::label.min") }}:
    {{ field_type.config.min_value ?: 0 }}
</label>

<label class="pull-right">
    {{ trans(field_type.config.max_label ?: "anomaly.field_type.slider::label.max") }}:
    {{ field_type.config.max_value ?: 10 }}
</label>

<input
        type="text"
        class="slider"
        name="{{ field_type.getInputName() }}"
        data-slider-min="{{ field_type.config.min_value ?: 0 }}"
        data-slider-max="{{ field_type.config.max_value ?: 10 }}"
        data-slider-step="{{ field_type.config.step ?: 1 }}"
        data-slider-value="{{ field_type.value }}"
        >

<label>
    {{ trans("anomaly.field_type.slider::label.value") }}: <span class="value">{{ field_type.value }}</span>
</label>
